header {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  flex-wrap: wrap;
  background-color: $tertiaryColor;

  .headerImgContainer {
    flex-basis: 45%;

    img {
      max-width: 100%;
      vertical-align: middle;
    }
  }

  .headerContent {
    flex-basis: 55%;

    .contentContainer {
      width: 65%;
      margin: 0 auto;
    }
  }
}
