// primary text (blue): #084b6d;
// secondary (light blue): #f4fcff;
// tertiary (green): #f8fbf3;
// quaternary (pink): #fff5f5;
// quinary (orange): #ffd698;
// pastel blue: #d3f0f9
// white: #fff;

// Site Fonts
$headingFont: "Young Serif";
$bodyFont: "Jakarta Sans";

// Sit Colors
$primaryColor: #084b6d;
$secondaryColor: #f4fcff;
$tertiaryColor: #f8fbf3;
$quaternaryColor: #fff5f5;
$quinaryColor: #ffd698;
$pastelBlueColor: #d3f0f9;
$solidWhiteColor: #fff;
